---
layout: standar
judul: Blog
---
<h1>Tulisan teranyar</h1>

<ul>
    {% for post in site.posts %}
    <li>
        <h2><a href="{{ post.url }}">{{ post.judul }}</a></h2>
        {{ post.excerpt }}
    </li>
    {% endfor%}
</ul>
