---
layout: standar
judul: Beranda
---

<h1 class="display-1">Hi..</h1>
<p class="text-secondary">Ini semacam catatan di dunia maya dari dunia nyata :D</p>

<hr/>

<ul class="list-unstyled">
    {% for post in site.posts %}
    <li>
        <h5><a href="{{ post.url }}" class="text-info">{{ post.judul }}</a></h5>
        <small class="text-muted"> {{ post.excerpt }} </small>
    </li>
    {% endfor%}
</ul>
