<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Jolali</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navigasi %}
            <li {% if page.url != item.tautan %} class="nav-item" {% else %} class="nav-item active" {% endif %}>
                <a class="nav-link" href="{{ item.tautan }}">{{ item.nama }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

</nav>
