---
layout: standar
---
<h2> {{ page.judul }} </h2>
<hr/>
{{ content }}
<hr/>
<p class="text-muted text-right"><small> {{ page.date | date_to_string }} <small>// {{ page.penulis }} </small> </small></p>

